extends layout

block content
  h1= title
  p Welcome to #{title}!

  input#search(type="search", placeholder="Search for...")
  h2#results

  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="/javascripts/main.js")